@using Portfolio.Core

@model List<Education>

    <div id="education">

        @{string @title = "Education"; }
        <partial name="_SectionTitle" model="title" />

        <div class="container">
            @foreach (var study in Model)
            {
                <div class="row justify-content-center align-self-center">
                    <div class="col">
                        <div>
                            @study.Title
                        </div>

                        <small>
                            @study.DateBegining - @study.DateEnd
                        </small>

                        <div>
                            @study.University
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-right">
                            <a class="btn btn-lg"
                               asp-page="EducationSection/Detail"
                               asp-route-educationId="@study.Id">
                                &#128270;
                            </a>
                            <a class="btn btn-lg"
                               asp-page="EducationSection/Edit"
                               asp-route-educationId="@study.Id">
                                &#x270D;
                            </a>
                            <a class="btn btn-lg"
                               asp-page="EducationSection/Delete"
                               asp-route-educationId="@study.Id">
                                &#128465;
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
                <br />
            }
        </div>


    </div>
