
@using Portfolio.Core.DTOs
@using System.Globalization

@model IEnumerable<ExperienceDto>


    <div id="experience">
        @{string @title = "Experiences"; }
        <partial name="_SectionTitle" model="title" />

        <div class="container">
            <div class="row">
                @foreach (var job in Model)
                {
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">

                                <div class="container d-flex h-100">
                                    <div class="row justify-content-center align-self-center">
                                        <h4>@job.Company</h4>
                                    </div>
                                    <div class="ml-auto">
                                        <a class="btn btn-lg"
                                           asp-page="Experiences/Detail"
                                           asp-route-experienceId="@job.Id">
                                            &#128270;
                                        </a>
                                        <a class="btn btn-lg"
                                           asp-page="Experiences/Edit"
                                           asp-route-experienceId="@job.Id">
                                            &#x270D;
                                        </a>
                                        <a class="btn btn-lg"
                                           asp-page="Experiences/Delete"
                                           asp-route-experienceId="@job.Id">
                                            &#128465;
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>Position</th>
                                        <td>@job.Position</td>
                                    </tr>
                                    <tr>
                                        <th>Main Functions</th>
                                        <td>@job.MainFunctions</td>
                                    </tr>
                                    <tr>
                                        <th>Technologies used:</th>
                                        <td>@job.Technologies</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-footer">
                                <small>@job.DateBegining.ToString("MMMM", CultureInfo.InvariantCulture) @job.DateBegining.Year - @job.DateEnd.ToString("MMMM", CultureInfo.InvariantCulture) @job.DateEnd.Year  (@job.YearsExperience years)</small>
                            </div>

                        </div>
                    </div>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>