
@using Portfolio.Core
@using System.Linq

@model IndexModel

    <div id="skills">
        @{string @title = "Skills"; }
        <partial name="_SectionTitle" model="title" />

         <div class="row  align-self-center">
            @foreach (var category in Model.SkillTypes)
            {
                var skills = Model.Skills.Where(s => (int)s.Category == int.Parse(category.Value));

                @if (skills.Count() > 0)
                {
                    <div class="col-12 col-lg-6">
                        <h4 class="skill-type">@category.Text skills</h4>
                        <hr class="skill-type" >

                        @foreach (var skill in skills)
                        {
                            <div class="skill-type">
                                <span class="skill-title"> @skill.Name </span>
                                <span class="edit-skills">
                                    <a asp-page="Skills/Edit" asp-route-skillId="@skill.Id" class="btn btn-gray">&#x270D;</a>
                                    <a asp-page="Skills/Delete" asp-route-skillId="@skill.Id" class="btn btn-gray">&#128465;</a>
                                </span>
                            </div>
                            
                            <div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @skill.Percentage%" aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100">Estimated autonomy: @skill.Percentage%</div>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                }

            }
        </div>

    </div>